{
	auto_https disable_redirects
}

https://{$CODEX_COLLAB_DOMAIN} {
	encode zstd gzip
	reverse_proxy relay:4177

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}
